# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/
